.pages-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E5E5E5;;
}
.pages {

    &__list {
        display: flex;
    }

    &__item {
        font-size: 12px;
        line-height: 140%;
        color: #9E9E9E;
        &:not(:last-child) {
            &::after {
                content: "/";
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        &:last-child {
            font-weight: 500;
            color: $orange;
        }
    }
}
